@tailwind base;
@tailwind components;
@tailwind utilities;

/* --bg-color: #0f172a;
     --acc-color: #334155;
     --txt-color: #64748b;
     --heading: #cbd5e1; */


     small {
        left: calc(50% - 50px);
     }/* Add this to your main CSS or Tailwind config */
.loader-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.452); /* Optional: Adds a semi-transparent background */
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999; /* Ensure it appears above other content */
 }
 *{
   color:white;
 }